.search-input {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box; /* Ensures padding and border are included in the element's dimensions */
    border-radius: 8px;
    width: 500px;
}

.search-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid #007bff;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
}

.search-button:hover {
    background-color: #0056b3;
}

.result {
    padding: 10px 20px;
    background-color: #353434;
    color: whitesmoke;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 29px;
    margin: 10px 10px 10px 10px;
}

.dropdown-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid #007bff;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
}

.dropdown-button:hover {
    background-color: #0056b3;
}

.card-body {
    border-radius: 20px;
    margin-top: 2px;
    margin-right: 50px;
    margin-left: 50px;
}